.price--custom-contact {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.price--custom-contact strong {
  font-size: 1.6rem;
  letter-spacing: 0.07rem;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
}
